[submodule "external/videolan/libvlcpp"]
	path = external/videolan/libvlcpp
	url = https://github.com/videolan/libvlcpp.git
[submodule "external/sdl2"]
	path = external/sdl2
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "external/dotenv-cpp"]
	path = external/dotenv-cpp
	url = https://github.com/laserpants/dotenv-cpp.git
